body{
    margin: 0;
    padding:0;
}

header{
    display:flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}
/* ACTIVE APENAS O 'INICIO' ficara com a cor azul*/
/* hover quando eu passo o mouse mudara de cor*/
nav .active a, nav a:hover{
    background-color: #cc31da;
    color:#FFFFFF;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpeg');
    background-position: center;
    background-size: cover;
    height: 880px;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_options{
    height: 210px;
    display: flex
    ;
}
.banner_headline h1{
    color:#FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    max-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner_headline h2{
    color: #FFFFFF;
    font-size: 20px;
    text-shadow:  0px 1px 0px;
    max-width: 350px; 
    font-family: Arial, Helvetica, sans-serif;   
}

.banner1,.banner2,.banner3{
    flex:1;
    color: #FFFFFF;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.banner1{
    background-color: #3c096c;
}
.banner2{
    background-color: #7b2cbf;
}
.banner3{
    background-color: #b3228f;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.column{
    flex-direction: column;
}
#geral{
    display: flex;
    justify-content: center;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.widget_title_text{
    color: midnightblue;
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.widget_title_bar{
    width: 50px;
    height: 5px;
    background-color: #b3228f;
    margin-top: 10px;
}
#rodape{
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    color: #555555;
    font-size: 12px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px){

    .container{
        
    }

    .banner_headline h1{
        font-size: 55px;
        padding: 20px;
    }

    .banner_headline h2{
        font-size: 17px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }

    #geral{
        padding: 20px;
    }

    #rodape{
        flex-direction: column;
        padding: 20px;
    }

}